<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>HomePage</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href=@{/}>HomePage</a></li>
            <li><a th:href=@{/albums}>Albums</a></li>
            <li><a th:href=@{/allsong}>SongList</a></li>
            <li><a th:href=@{/hello}>Hello</a></li>
            <li><a th:href=@{/capitalize/default}>Capitalize</a></li>
        </ul>
    </nav>
</header>
<h1>HomePage</h1>
</body>
</html>